---
import type { Link, Image } from "../types";
import Button from "./Button.astro";
import Gallery from "./Gallery.astro";
import GradientBackground from "./GradientBackground.astro";
import TextMarquee from "../components/TextMarquee.astro";

interface Props {
  images: Image[];
  title: string;
  text?: string;
  cta?: Link;
  marqueeTexts: string[];
}

const { title, text, cta, images, marqueeTexts } = Astro.props;
---

<section class="relative pt-32">
  <div
    class="relative z-10 mx-auto max-w-7xl
      flex flex-row-reverse items-center gap-20"
  >
    <!-- Texto -->
    <div class="flex flex-col items-start flex-1 py-4 order-1">
      <h2
        class="font-family-tight font-regular text-5xl md:text-7xl tracking-tighter text-balance mb-4"
      >
        {title}
      </h2>

      {text && <p class="max-w-md text-foreground/80 text-xl mb-6">{text}</p>}

      {
        cta && (
          <div class="flex">
            <Button
              {...cta}
              size="lg"
              arrow
              revealable={false}
              class="self-start"
            />
          </div>
        )
      }
    </div>

    <!-- Galería -->
    <Gallery class="h-88 max-w-lg md:order-2" images={images} />
  </div>

  <!-- Marquee SIEMPRE abajo -->
  <div class="relative z-10 mt-24 py-8 text-white">
    <TextMarquee texts={marqueeTexts} direction={-1} />
  </div>

  <GradientBackground />
</section>
